<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://api.mapbox.com/mapbox-assembly/v1.3.0/assembly.min.css" rel="stylesheet">

    <title>Passagiere und Gepäck</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        td {
            padding: 10px;
            text-align: center;
            border: 1px solid #ccc;
        }
        img {
            max-width: 200px;
            height: auto;
            border: 0px solid #ccc;
            border-radius: 5px;
        }
        .image-name {
            margin-top: 5px;
            font-size: 14px;
            color: #333;
        }

        .switch {
          position: relative;
          display: inline-block;
          width: 60px;
          height: 34px;
        }

        .switch input {
          opacity: 0;
          width: 0;
          height: 0;
        }

        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ccc;
          transition: .4s;
          border-radius: 34px;
        }

        .slider:before {
          position: absolute;
          content: "";
          height: 26px;
          width: 26px;
          left: 4px;
          bottom: 4px;
          background-color: white;
          transition: .4s;
          border-radius: 50%;
        }

        input:checked + .slider {
          background-color: #2196F3;
        }

        input:focus + .slider {
          box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
          transform: translateX(26px);
        }

       .myButton {
        background-color: blue;
        color: white;
        border: none;
        padding: 8px 12px;
        border-radius: 4px;
        cursor: pointer;
        }

        .myButton:hover {
            background-color: darkblue; /* Darker color on hover */
        }

     .clicked {
        background-color: green; /* New color when clicked */
        color: white;
    }


    </style>

    <!-- Default styling. Feel free to remove! -->
    <link href="https://api.mapbox.com/mapbox-assembly/v1.3.0/assembly.min.css" rel="stylesheet">
    <script id="search-js" defer="" src="https://api.mapbox.com/search-js/v1.0.0-beta.24/web.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.js"></script>

</head>
<body>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/de.js"></script>
<script src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">


<!-- =================================== -->
<h1>Passagiere und Gepäck</h1>
<label class="switch">
    <input type="checkbox" id="toggleSwitch" />
    <span class="slider"></span>
</label>

<div class="round border border--gray-lighter px12 py24" style="min-height: 100px;">
    <div class="wmax600 mx-auto">
        <div class="address-page">
            <img src="{{url_for('static', filename='Traxx_Logo.jpeg')}}" alt="Traxx_Logo" style="width:128px;height:128px;">
            <h3 class="txt-l txt-bold mb6"><strong> TRAXX Fahrer Konsole</strong></h3>
            <strong><bold></bold><p id="requestId"></p></bold></strong>
        </div>
    </div>
</div>

<!--div class="round border border--gray-lighter px12 py24" style="min-height: 100px;">
    <div class="wmax600 mx-auto">
        <div class="address-page">
            <form class="flex flex--column" name="passengersList" id="passengersList">

                <button type="submit" class="btn round submit-order-button" id="submitPassengers" name="submitPassengers">
                    Angebote machen
                </button>
            </form>
        </div>
    </div>
</div-->


<div class="round border border--gray-lighter px24 py24" style="min-height: 140px;">
    <div class="wmax800 mx-auto">
        <div class="address-page">
            <hr>
            <table id="gallery">
                <thead>
                <th> Passagier Nummer </th>
                <th> Startpunkt </th>
                <th> Ziel </th>
                <th> Startzeit </th>
                <th> Mitfahrer </th>
                <th> Gepäck </th>
                </thead>
            </table>
        </div>
    </div>
</div>
</div>
</div>


<script>

    let requestMap = new Map();
    let responseMap = new Map();
    var LUGGAGE_IMAGE="luggage_image_";
    var PASSENGER_IMAGE="passenger_image_";
    var IMAGE_EXTENTION = ".jpeg";
    let percentage = 0.2;

    const params = new URLSearchParams(window.location.search);
    const driverId = params.get("driverId") || "DriverIdUnknown";
    console.log("===>driverId="+driverId);
    document.getElementById("requestId").textContent = "Ihr Angebotreferenznummer ist "+driverId;

    getEntry = "/get?id="+driverId;
    console.log("getEntry="+getEntry);
    async function fetchEntry() {
        try {
            const response = await fetch(getEntry);
            if (!response.ok) {
            throw new Error(`HTTP error! status: ${response.status}`);
            }
            const json_data = await response.json();
            // Process the data here

            const startAddress = json_data[1]['address']
            const endAddress = json_data[2]['address']

             document.getElementById("requestId").innerHTML = "Ihr Angebotreferenznummer ist "+driverId+
                                                                "<br><br>"+
                                                                "<br>Startadresse:"+startAddress +
                                                                "<br>Zieladresse:"+endAddress;

            console.log(json_data);
        } catch (error) {
            // Handle errors
            console.error('Fetch error:', error);
        }
    }

    fetchEntry(); // Call the async function







    var ABDistance = 0;
    var ACDBDistance = 0;
    getABDistance = "/get_distance?startId="+driverId+"&destId="+driverId;
    console.log("getABDistance="+getABDistance);
    async function fetchABDistance() {
        try {
            const response = await fetch(getABDistance);
            if (!response.ok) {
            throw new Error(`HTTP error! status: ${response.status}`);
            }
            const json_data = await response.json();
            // Process the data here
            jsonStr = json_data.replace(/'/g, '"');
            obj = JSON.parse(jsonStr);
            mapdetour = new Map(Object.entries(obj));
            ABDistance = mapdetour.get("distance");
            ACDBDistance = mapdetour.get("route");
            console.log("mapdetour 1==>"+ABDistance);
            console.log(jsonStr);
        } catch (error) {
            // Handle errors
            console.error('Fetch error:', error);
        }
    }

    fetchABDistance(); // Call the async function



    async function fetchDistance(url,key) {
        try {
            const response = await fetch(url);
            if (!response.ok) {
            throw new Error(`HTTP error! status: ${response.status}`);
            }
            const json_data = await response.json();
            // Process the data here
            jsonStr = json_data.replace(/'/g, '"');
            obj = JSON.parse(jsonStr);
            mapdetour = new Map(Object.entries(obj));
            //currDistance = mapdetour.get("distance");
            currDistance = mapdetour.get(key);
            console.log("detour ==>"+currDistance);
            console.log(jsonStr);
            return currDistance;
        } catch (error) {
            // Handle errors
            console.error('Fetch error:', error);
        }
    }



    fetch('/get_matches?driverId='+driverId)
      .then(response => response.json())
      .then(json_data => {

        const arr = Object.keys(json_data).map((key) => [key, json_data[key]]);
        for (entry of arr) {
            for( part of entry){
                var requestNum = part[0];  //.get("request_number");
            }
            requestMap.set(requestNum, entry);

        };

        let counter = 0;
        let currNumber = 0;
        let table = document.getElementById("gallery");
        requestMap.forEach((value, key) => {

            console.log(value, key);
            currNumber = value[0];
            console.log(key, currNumber);

            let map1 = new Map(Object.entries(value[1][3]));

            console.log("TYPE offerFromDriver===>", map1.get("offerFromDriver"));


            if(driverId===map1.get("offerFromDriver")){

                let mapAddressStart = new Map(Object.entries(value[1][1]));
                let mapAddressDest = new Map(Object.entries(value[1][2]));
                console.log(mapAddressStart.get("address"));
                console.log(mapAddressDest.get("address"));

                let mapDistancePrice = new Map(Object.entries(value[1][3]));
                //console.log('=======>>', mapDistancePrice.get("distance"));

                console.log(key, value[1][2]);
                counter= counter+1;

                let row = table.insertRow(-1);
                let c1 = row.insertCell(0);
                let c2 = row.insertCell(1);
                let c3 = row.insertCell(2);
                let c4 = row.insertCell(3);
                //var img = '<img src="../images/defalaut_passanger.jpg" alt="Description of the image"> ';
                //var myImage.src="../images/12_luggage.jpg"
                let c5 = row.insertCell(4);
                let c6 = row.insertCell(5);


                // Create an image element
                const img = document.createElement("img");
                img.src = "./images/defalaut_passanger.jpg";
                img.alt = "defalaut passanger image";
                img.width = 150;

                const hostname = window.location.hostname;
                console.log(hostname);

                var fileNameLuggageString="/images/"+LUGGAGE_IMAGE+currNumber+IMAGE_EXTENTION;

                console.log("===>"+fileNameLuggageString);

                doesFileExist(fileNameLuggageString)
                .then(exists => {
                    if (exists) {
                        console.log("File exists!");
                         img.src = fileNameLuggageString
                    } else {
                        console.log("File does not exist!");
                    }
                });

                // Add the image to the cell
                c6.appendChild(img);



                // Create an image element
                const img1 = document.createElement("img");
                img1.src = "./images/default_luggage.jpg";
                img1.alt = "defalaut luggage image";
                img1.width = 150;

                var fileNamePersonString ="/images/"+PASSENGER_IMAGE+currNumber+IMAGE_EXTENTION;

                console.log(fileNamePersonString);

                doesFileExist(fileNamePersonString)
                .then(exists => {
                    if (exists) {
                        console.log("File exists!");
                         img1.src = fileNamePersonString
                    } else {
                        console.log("File does not exist!");
                    }
                });



                // Add the image to the cell
                c5.appendChild(img1);

                // Add data to c1 and c2
                c1.innerText = currNumber;
                c2.innerText = mapAddressStart.get("address");
                c3.innerText = mapAddressDest.get("address");


                var CDDistance=value[1][3].distance;

                var detour_km=map1.get("detour");
                ABDistance =  map1.get("distance");
                var ACDBDistance =  map1.get("route");
                CDDistance = map1.get("pass_distance");
                var match = parseFloat(detour_km) < percentage*parseFloat(CDDistance);
                //var id1=0
                //var id2=0
                //getDistance="/get_distance?startId="+driverId+"&destId="+currNumber;
                //console.log("DETUOR_URL="+getDistance);
                //fetch(getDistance).then(response => response.json()).then(json_data =>
                //{
                    //jsonStr = json_data.replace(/'/g, '"');
                    //obj = JSON.parse(jsonStr);
                    //mapdetour = new Map(Object.entries(obj));
                    //detour_km = mapdetour.get("detour");
                    //id1 = mapdetour.get("id1");
                    //id2 = mapdetour.get("id2");
                    console.log("mapdetour 1==>"+detour_km);
                    text = mapAddressStart.get("starttime")
                    + "\n"+"Umweg "+detour_km+" km\n"
                    + "ABDistance "+ABDistance +" km\n"
                    + "ACDBDistance "+ACDBDistance +" km\n"
                    + "CDDistance "+CDDistance +" km\n"
                    + "Match :" + match ;
                    console.log("text="+text);

                    c4.innerText = text;

                //const label = document.createElement("label");
                //label.className = "switch";

               // let checkbox = document.createElement("input");
               // checkbox.type = "checkbox";
               // c1.appendChild(checkbox);

                const button = document.createElement('button');
                button.className="myButton";
                button.innerHTML = 'Angebot Machen';
                button.value = currNumber;
                //button.addEventListener('click', function() {
                // Add your button click logic here
                //   alert('Button in row ' + (i + 1) + ' clicked!');
                //});
                button.onclick = function() {
                     if (button.classList.contains('clicked')){
                        alert('Angebot in row '+ this.value +' abziehen!');


                let listPass = [];
                listPass.push(parseInt(this.value));
                const payload = {driver: parseInt(driverId), passengers:listPass};
                  const payloadBody = JSON.stringify(payload);
                  console.log("payloadBody:"+payloadBody);
                  fetch("/withdrawOffers", {
                    method: "POST",
                    headers: {
                      'Content-Type': 'application/json'
                    },
                    body: payloadBody
                  })
                  .then(response => {
                    // Handle the response from the server
                    if (response.ok) {
                      console.log("Form submitted successfully");
                      const json = response.text();
                      console.log("JSON:"+json);
                      document.getElementById('submitPassengers').disabled = true;
                      //document.getElementById("result").textContent = json;
                      return json;
                    } else {
                      console.error("Form submission failed");
                    }
                  }).then((data) => {
                    console.log("DATA:"+data);
                    //document.getElementById("result").textContent = data;
                  });


                        button.classList.remove('clicked');
                        button.innerHTML = 'Angebot machen.';


                     } else {
                        //alert('Angebot in row ' + (i + 1) + ' machen!');
                        alert('Angebot in row ' + this.value + ' machen!');
                        button.classList.toggle('clicked');
                        button.innerHTML = 'Angebot abziehen';

                let listPass = [];
                listPass.push(parseInt(this.value));
                const payload = {driver: parseInt(driverId), passengers:listPass};
                  const payloadBody = JSON.stringify(payload);
                  console.log("payloadBody:"+payloadBody);
                  fetch("/rideOffers", {
                    method: "POST",
                    headers: {
                      'Content-Type': 'application/json'
                    },
                    body: payloadBody
                  })
                  .then(response => {
                    // Handle the response from the server
                    if (response.ok) {
                      console.log("Form submitted successfully");
                      const json = response.text();
                      console.log("JSON:"+json);
                      document.getElementById('submitPassengers').disabled = true;
                      //document.getElementById("result").textContent = json;
                      return json;
                    } else {
                      console.error("Form submission failed");
                    }
                  }).then((data) => {
                    console.log("DATA:"+data);
                    //document.getElementById("result").textContent = data;
                  });



                        button.classList.add('clicked');
                       }
                };

                c1.appendChild(button);
                row.insertBefore(c1, row.firstChild);

            }

        })


      })
      .catch(error => {
        // Handle any errors during the fetch
        console.error('Error:', error);
      });




async function doesFileExist(urlToFile) {
  try {
    const response = await fetch(urlToFile, { method: 'GET' });
    return response.ok; // Returns true if status is 200-299
  } catch (error) {
    return false;
  }
}


    const selectedNumbers = [];


    const form2= document.getElementById("passengersList");
    //const nameInput = document.getElementById('submitPassengers');

    form2.addEventListener("submit", (event) => {
        event.preventDefault(); // Prevent the default form submission

        var checkedBoxes = document.querySelectorAll('input:checked');

        if (checkedBoxes.length === 0) {
            // there are no checked checkboxes
        alert('no checkboxes checked');
        } else {
            // there are some checked checkboxes
        }


        // Iterate through each checked checkbox
        checkedBoxes.forEach(checkbox => {
          // Get the parent row of the checkbox
          const row = checkbox.closest('tr');

        if (row) {
            // The 'row' variable now holds the closest parent <tr> element
            //alert("row="+row.cells[0].textContent);
        } else {
            // No parent <tr> element found
            alert('No selection done');
        }


          // Extract the numeric value from the desired cell (e.g., second cell)
          const numericValue = parseInt(row.cells[0].textContent);

          // Add the numeric value to the array if it's a valid number
          if (!isNaN(numericValue)) {
            selectedNumbers.push(numericValue);
          }
        });


          const payload = {driver: driverId, passengers:selectedNumbers};
          const payloadBody = JSON.stringify(payload);
          console.log("payloadBody:"+payloadBody);
          fetch("/rideOffers", {
            method: "POST",
            headers: {
              'Content-Type': 'application/json'
            },
            body: payloadBody
          })
          .then(response => {
            // Handle the response from the server
            if (response.ok) {
              console.log("Form submitted successfully");
              const json = response.text();
              console.log("JSON:"+json);
              document.getElementById('submitPassengers').disabled = true;
              //document.getElementById("result").textContent = json;
              return json;
            } else {
              console.error("Form submission failed");
            }
          }).then((data) => {
            console.log("DATA:"+data);
            //document.getElementById("result").textContent = data;
          });


        // Log the selected raw numbers
        console.log(selectedNumbers);
        alert(selectedNumbers);


    });


    const form = document.getElementById("destination");

    form.addEventListener("submit", (event) => {
        event.preventDefault(); // Prevent the default form submission

        const formData = new FormData(form); // Create a FormData object


        formData["start_address"]= document.querySelector(".input.mb11").value;;
        formData["start_postal-code"]= document.querySelector(".input.input.mb14").value;
        formData["start_city"]= document.querySelector(".input.mb12").value;
        formData["start_state"]= document.querySelector(".input.mb13").value;
        formData["selected_date_time"]=selectedDateTime;
        console.log(formData["start_address"]);
        console.log(formData["start_postal-code"]);
        console.log(formData["start_city"]);
        console.log(formData["start_state"]);
        console.log(formData["selected_date_time"]);


        formData["dest_address"]= document.querySelector(".input.mb21").value;;
        formData["dest_postal-code"]= document.querySelector(".input.input.mb24").value;
        formData["dest_city"]= document.querySelector(".input.mb22").value;
        formData["dest_state"]= document.querySelector(".input.mb23").value;
        console.log(formData["dest_address"]);
        console.log(formData["dest_postal-code"]);
        console.log(formData["dest_city"]);
        console.log(formData["dest_state"]);


          fetch("/saveCoordinatesDriver", {
            method: "POST",
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
          })
          .then(response => {
            // Handle the response from the server
            if (response.ok) {
              console.log("Form submitted successfully");
              const json = response.text();
              console.log("JSON:"+json);
              //document.getElementById("result").textContent = json;
              return json;
            } else {
              console.error("Form submission failed");
            }
          }).then((data) => {
            console.log("DATA:"+data);
            document.getElementById("result").textContent = data;
          });



          //  location.href = "/manager";
          //  location.replace("/manager");
           // restartExample();

        });




</script>
</body>
</html>