<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://api.mapbox.com/mapbox-assembly/v1.3.0/assembly.min.css" rel="stylesheet">

    <title> Manager </title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        td {
            padding: 10px;
            text-align: center;
            border: 1px solid #ccc;
        }
        img {
            max-width: 200px;
            height: auto;
            border: 0px solid #ccc;
            border-radius: 5px;
        }
        .image-name {
            margin-top: 5px;
            font-size: 14px;
            color: #333;
        }
    </style>
</head>
<body>


<div class="round border border--gray-lighter px24 py24" style="min-height: 140px;">
    <div class="wmax800 mx-auto">
        <div class="address-page">
            <img src="{{url_for('static', filename='Traxx_Logo.jpeg')}}" alt="Traxx_Logo" style="width:128px;height:128px;">
            <h3 class="txt-l txt-bold mb6"><strong> TRAXX Manager Konsole</strong></h3>
            <hr>
            <table id="gallery">
                    <thead>
                    <th> Passagier Nummer </th>
                    <th> Startpunkt </th>
                    <th> Ziel </th>
                    <th> Startzeit </th>
                    <th> Mitfahrer </th>
                    <th> Gepäck </th>
                    </thead>
            </table>
        </div>
    </div>
</div>




<script>

    let requestMap = new Map();
    var LUGGAGE_IMAGE="luggage_image_";
    var PASSENGER_IMAGE="passenger_image_";
    var IMAGE_EXTENTION = ".jpeg";
   // const fs = require('fs');



    fetch('/get_all')
      .then(response => response.json())
      .then(json_data => {

        const arr = Object.keys(json_data).map((key) => [key, json_data[key]]);
        for (entry of arr) {
            for( part of entry){
                var requestNum = part[0];  //.get("request_number");
            }
            requestMap.set(requestNum, entry);

        }

        let counter = 0;
        let table = document.getElementById("gallery");
        requestMap.forEach((value, key) => {

            //console.log('=======>>', key);
            console.log(value, key);
            let currNumber = value[0];
            console.log(key, currNumber);

            let mapAddressStart = new Map(Object.entries(value[1][1]));
            let mapAddressDest = new Map(Object.entries(value[1][2]));
            console.log(mapAddressStart.get("address"));
            console.log(mapAddressDest.get("address"));


            console.log(key, value[1][2]);
            counter= counter+1;

            let row = table.insertRow(-1);
            let c1 = row.insertCell(0);
            let c2 = row.insertCell(1);
            let c3 = row.insertCell(2);
            let c4 = row.insertCell(3);
            //var img = '<img src="../images/defalaut_passanger.jpg" alt="Description of the image"> ';
            //var myImage.src="../images/12_luggage.jpg"
            let c5 = row.insertCell(4);
            let c6 = row.insertCell(5);

            //const cell = row.insertCell();

            // Create an image element
            const img = document.createElement("img");
            img.src = "./images/defalaut_passanger.jpg";
            img.alt = "defalaut passanger image";

            const hostname = window.location.hostname;
            console.log(hostname);

            var fileNameLuggageString="/images/"+LUGGAGE_IMAGE+currNumber+IMAGE_EXTENTION;

            console.log("===>"+fileNameLuggageString);

            doesFileExist(fileNameLuggageString)
            .then(exists => {
                if (exists) {
                    console.log("File exists!");
                     img.src = fileNameLuggageString
                } else {
                    console.log("File does not exist!");
                }
            });

            // Add the image to the cell
            c6.appendChild(img);



            // Create an image element
            const img1 = document.createElement("img");
            img1.src = "./images/default_luggage.jpg";
            img1.alt = "defalaut luggage image";

            var fileNamePersonString ="/images/"+PASSENGER_IMAGE+currNumber+IMAGE_EXTENTION;

            console.log(fileNamePersonString);

            doesFileExist(fileNamePersonString)
            .then(exists => {
                if (exists) {
                    console.log("File exists!");
                     img1.src = fileNamePersonString
                } else {
                    console.log("File does not exist!");
                }
            });



            // Add the image to the cell
            c5.appendChild(img1);


            // Add data to c1 and c2
            c1.innerText = currNumber;
            c2.innerText = mapAddressStart.get("address");
            c3.innerText = mapAddressDest.get("address");
            c4.innerText = mapAddressStart.get("starttime");
            //c5.innerText = img;

        })

        // window.location.reload();
      })
      .catch(error => {
        // Handle any errors during the fetch
        console.error('Error:', error);
      });



async function doesFileExist(urlToFile) {
  try {
    const response = await fetch(urlToFile, { method: 'GET' });
    return response.ok; // Returns true if status is 200-299
  } catch (error) {
    return false;
  }
}





</script>
</body>
</html>

