<!DOCTYPE html>
<html>
<body>

<h2>Form anbieter</h2>

<form action="/handle_data" method="post">
  <label for="start">Startort</label><br>
  <input type="text" id="startAddress" name="sAddress" value="Start"><br>
  <label for="lname">Startort:</label><br>
  <input type="text" id="endAddress" name="eAddress" value="Ziel"><br><br>
  <label for="lname">Zielort:</label><br>
  <input type="text" id="time" name="pickuptime" value="Ziel"><br><br>
  <label for="pickuptime">startbereit ab</label><br> 
 <input type="submit" value="Submit">
</form> 

<p></p>

</body>
</html>
